@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-green{
    color:#008080;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}